$font-regular: 'Poppins Regular';
$font-medium: 'Poppins Medium';
$font-semi-bold: 'Poppins Semi-Bold';
$font-bold: 'Poppins Bold';
$font-bolder: 'Poppins Bolder';

$color-black: #000000;
$color-white: #FFFFFF;
$color-seashell-peach: #FFF5EC;
$color-mercury: #E5E5E5;
$color-peach-cream: #FFEDDE;
$color-jacarta: #2E266F;
$color-red: #FE043C;
$color-grey: #707070;
$color-sea-green: #31A24C;
$color-shamrock: #35CD8C;
