.banner {
  &__heading {
    max-width: calc(100% - 135px);
    margin-bottom: 24px;
  }

  &__search {
    margin-bottom: 50px;
  }

  &__location {
    background-color: $color-red;
    color: $color-white;
    border-radius: 0 100px 100px 0;
    padding: 17px 15px 17px 32px;
    font-size: 30px;
    width: 280px;

    &-city {
      font-family: $font-medium, sans-serif;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0em;
      text-align: left;
      margin-left: 28px;
    }
  }

  &__slider {
    position: relative;

    @include respond-to(phone-only) {
      max-height: 535px;
    }

    &-image {
      position: relative;
      top: -31px;
      right: -18px;
      z-index: 1;
    }

    &-bg {
      position: absolute;
      left: 20px;
      top: 18px;
    }
  }

  &__arrows-holder {
    width: 108px;
    position: relative;
    top: -94px;
    z-index: 1;
    margin-left: auto;

    & > button {
      background-color: transparent;
      border: none;
    }
  }
}
