.explore {
  padding-top: 49px;
  padding-bottom: 59px;
  background-color: $color-seashell-peach;

  &__heading, &__text {
    text-align: center;
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__text {
    font-family: $font-regular;
    font-size: 14px;
    color: $color-grey;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 -15px;
  }

  &__column {
    padding: 20px 15px;
  }
}

.product {
  //width: 530px;
  height: 552px;
  padding-bottom: 30px;
  background: $color-white;
  box-shadow: 0 4px 4px rgba(235, 241, 245, 0.5);
  border-radius: 25px;

  @include respond-to(phone-only) {
    width: 100%;
  }

  &__inner {
    padding: 30px 14px 20px 30px;
  }

  &__title {
    font-family: $font-medium;
    font-weight: 500;
    font-size: 24px;
    color: $color-jacarta;
  }

  &__price {
    font-family: $font-bold;
    font-weight: bold;
    font-size: 24px;
    color: $color-red;
  }

  &__desc {
    font-family: $font-regular;
    font-size: 14px;
    color: $color-grey;
    padding-left: 30px;
    max-width: 315px;
  }
}
