.top-restaurant {
  padding-top: 60px;
  padding-bottom: 33px;
  background-color: $color-seashell-peach;
  position: relative;

  &__head {
    padding-left: 33px;
  }

  &__heading {
    font-family: $font-medium;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: capitalize;
  }

  &__desc {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 24px;
    color: $color-grey;
    margin-bottom: 47px;
  }

  &__content {
    @include respond-to(phone-only) {
      max-width: calc(100% - 40px);
      margin: 0 auto;
    }
  }

  &__column {
    padding: 15px 20px;
  }
}

.top-product {
  border-radius: 20px;
  width: 494px;
  height: 493px;
  position: relative;

  & > picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    img {
      min-height: 100%;
    }
  }

  @include respond-to(phone-only) {
    width: 100%;
  }
}
